* {
    box-sizing: border-box;
}

body {
    margin: 1px;
}

nav {
    font-size: 1.5rem;
    background-color: #f1f1f1;
}

nav ul {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

h4 {
    float: left;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
}

nav ul li:hover {
    background-color: #555;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

h4 {
    display: flex;
    float: left;
    position: absolute;
    top: -15px;
    left: 10px;
}


@media all and (max-width: 500px) {
    nav ul {
        flex-direction: column !important;
    }

    nav ul li {
        text-align: center;
        color: red;
    }

}